.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.todoList {
  border: 1px solid green;
  border-radius: 3px;
  background-color: yellowgreen;
  padding: 20px;
}
.tasks-list{
  list-style-type: none;
  padding: 0px;
}
.tasks-list-item{
  display: flex;
  justify-content: space-between;
}

.btns-block{
  display: flex;
  justify-content: space-between;
}

.todolist-header{
  text-align: center;
}

